# Ignore Django settings.py
/taskroad/taskroad/settings.py

# Ignore Database file
/taskroad/db.sqlite3 

# Ignore Cache
/taskroad/api/__pycache__
/taskroad/api/migrations
/taskroad/taskroad/__pycache__



# Ignore venv
.venv


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
fontend/.DS_Store
fontend/.env.local
fontend/.env.development.local
fontend/.env.test.local
fontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
